.form {
    display: flex;
    justify-content: flex-start;
    /*background-color: #dcb3ff;*/
    flex-wrap: wrap;

}

.myInput {
    /*background-color: #fac2c2;*/
}

.myInput input {
    max-width: 190px;
    border: none;
    border-radius: 30px;
    padding: 11px 26px;
    font-size: 1rem;
    background-color: #252525;


}

.myTextarea {
    /*background-color: #e0ffb3;*/
    width: 100%;
    margin-bottom: 20px;
}

.myTextarea textarea {
    height: 170px;
    width: 100%;
    border-radius: 30px;
    display: block;
    border: none;
    padding: 11px 26px;
    font-family: Montserrat, sans-serif;
    background-color: #252525;
    font-size: 1rem;

}



.inputs{
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

textarea {

}

.contactForm {
    max-width: 650px;
}

/*@media screen and(max-width:560px){*/
/*    .inputs {*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*    }*/
/*}*/
