.form {
    display: flex;
    justify-content: flex-start;
    background-color: #dcb3ff;
    flex-wrap: wrap;
}

.myInput {
    background-color: #fac2c2;
}

.myInput input {
    width: 150px;
    height: 24px;
    border: none;
    border-radius: 30px;
    padding: 11px 26px;

}

.myTextarea {
    background-color: #e0ffb3;
    width: 100%;
    margin-bottom: 20px;
}

.myTextarea textarea {
    height: 130px;
    width: 93.2%;
    border-radius: 30px;
    display: block;
    border: none;
    padding: 11px 26px;
    font-family: Montserrat, sans-serif;
}

.inputs{
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

textarea {

}

/*@media screen and(max-width:560px){*/
/*    .inputs {*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*    }*/
/*}*/
