.portfolioWrapper {
    background-color: #1c1c1c;
    color: white;
    display: flex;
    min-height: 100vh;
}

.container {
    min-width: 1200px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 200px);

}

.swiper-container {
    width: 500px;
}

.svgWrap {
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.svgWrap img{
    width: 200px;
    height: 200px;
}


.portfolioWrapper a {
    display: inline-block;
    text-decoration: none;
    margin: 0 15px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    width: 70px;
    border: 1px solid white;
    border-radius: 10px;
}

