.swiper-container {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 550px){
        width: 350px;
    }
    @media screen and (max-width: 321px){
        width: 300px;
    }
}

.swiper-wrapper {
    padding-inline-start: 0;
    margin: auto;
}

.swiper-pagination {
    padding-bottom: 30px;
}

.swiper-pagination-bullet {
    background: white;
    opacity: 0.2;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: white;
}

.swiper-button-prev, .swiper-button-next {
    color: white;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    object-fit: cover;
}

.swiper-pagination-bullets {
    padding: 0;
}



