.container {
    /*background-color: #cbff8d;*/
    min-height: 100vh;
    width: 1200px;
    margin: 0 auto;
}

.about {
    background-color: #1c1c1c;
}

.about span {
    color: white;
}

.test {
    width: 100%;
    height: 0.01vh;
}

.about h1 {
    /*background-color: #ffad9b;*/
    text-align: center;
    margin: 50px 0 100px;
}

.about h2 {
    /*background-color: #ffad9b;*/
    color: white;
    font-weight: 300;
    font-size: 1.8rem;
}

.mainInfo {
    /*background-color: #ffea96;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.personalInfo {
    width: 40%;
    background-color: #1c1c1c;
    z-index: 355463736747;
}

.dataAboutMe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.about ul {
    padding: 0;
}

.about li {
    padding: 0 0 20px;
}

.photo {
    /*background-color: #cdd5ff;*/
    width: 40%;
    height: 400px;

}

.photo img {
    /*height: 300px;*/
    height: 100%;

}

/*.somediv {*/
/*    display: flex;*/
/*    !*justify-content: flex-start;*!*/
/*    !*background-color: forestgreen;*!*/

/*}*/

.personalInfo a {
    position: relative;
    z-index: 4444;
    overflow: hidden;
}

.personalInfo a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -999999990;
    /*width: 100%;*/
    /*height: 100%;*/
    transform: translateX(100%);
    transition: 1s ease-out all;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
}

.personalInfo a:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -999999990;
    /*width: 100%;*/
    /*height: 100%;*/
    transform: translateX(100%);
    transition: 1s ease-out all;
    background-color: #1c1c1c;
    box-sizing: border-box;
    overflow: hidden;
}

.personalInfo a:hover:before {
    transform: translateX(0%);
    transition: 1s ease-out;

}

.personalInfo a {
    border: 1px solid white;
    border-radius: 50px;
    color: gray;
    text-decoration: none;
    z-index: 99989898898;

    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
}
.somediv img{
    z-index: 99999;
}

/*.somediv:before {*/
/*    content: "";*/
/*    background-color: white;*/
/*    position: relative;*/
/*    top: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    z-index: 434;*/
/*    transform: translateX(100%);*/
/*    transition: ease-out 1s;*/

/*}*/


.buttonText {
    margin-left: 30px;
    transition: 1s;
}

.icon {
    background-color: white;
    /*padding: 20px;*/
    width: 55px;
    height: 55px;
    border-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.personalInfo a:hover .buttonText {
    color: #1c1c1c;
    transition: 1s;
}