.about {
    background-color: #1c1c1c;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

}

.container {
    min-width: 1200px;
    margin: 100px auto;

}

.about span {
    color: white;
}


.about h2 {
    color: white;
    font-weight: 300;
    font-size: 1.8rem;
}

.mainInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.personalInfo {
    background-color: #1c1c1c;
    z-index: 355463736747;
}

.dataAboutMe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.about ul {
    padding: 0;
}

.about li {
    padding: 0 0 20px;
}

.photo {
    width: 40%;
    height: 400px;

}

.photo img {
    height: 100%;

}

.personalInfo a {
    position: relative;
    z-index: 4444;
    overflow: hidden;
}

.personalInfo a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -999999990;
    transform: translateX(100%);
    transition: 1s ease-out all;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
}

.personalInfo a:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -999999990;
    transform: translateX(100%);
    transition: 1s ease-out all;
    background-color: #1c1c1c;
    box-sizing: border-box;
    overflow: hidden;
}

.personalInfo a:hover:before {
    transform: translateX(0%);
    transition: 1s ease-out;

}

.personalInfo a {
    border: 1px solid white;
    border-radius: 50px;
    color: gray;
    text-decoration: none;
    z-index: 99989898898;

    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
}

.somediv img {
    z-index: 99999;
}

.buttonText {
    margin-left: 30px;
    transition: 1s;
}

.icon {
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.personalInfo a:hover .buttonText {
    color: #1c1c1c;
    transition: 1s;
}

.nameOfBlock {
    height: 20vh;
    /*background-color: greenyellow;*/
}