.about {
  color: white;
  overflow: hidden;
  h2 {
    color: white;
    font-weight: 300;
    font-size: 1.8rem;
  }
  .container {
    min-height: 100vh;
    padding: 100px 15px;
    max-width: calc(100% - 200px);
    margin: 0 auto;

    @media screen and (max-width: 769px) {
      max-width: 100%;
    }
    .mainInfo {
      display: flex;
      align-items: center;
      justify-content: space-around;
      @media screen and (max-width: 850px) {
        flex-direction: column-reverse;
      }
      .photo {
        width: 400px;
        height: 400px;
        background: no-repeat url("./../images/photoAva.jpeg") center;
        background-size: cover;

        @media screen and (max-width: 510px) {
          width: 300px;
          height: 300px;
        }
        @media screen and (max-width: 321px) {
          width: 270px;
          height: 270px;
        }
      }
      .personalInfo {
        max-width: 450px;
        margin-right: 20px;
        @media screen and (max-width: 376px) {
          margin-right: 0;

        }
        .dataAboutMe ul {
          display: flex;
          flex-wrap: wrap;
          width: 500px;
          max-height: 150px;
          align-items: flex-start;
          flex-direction: column;
          margin-bottom: 30px;
          @media screen and (max-width: 1025px) and (min-width: 850px){
            max-height: 400px;
            width: 300px;

          }
          @media screen and (max-width: 510px) {
            max-height: 400px;
            width: 300px;

          }
          li {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}