.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: no-repeat url("./../images/me1.png") center;
  background-size: cover;
  color: white;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    max-width: calc(100% - 200px);
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (max-width: 769px) {
      max-width: 100%;
    }

    .title {
      z-index: 1;
      margin-bottom: 30px;
    }

    .socialLinks {
      ul {
        display: flex;
        width: 200px;
        justify-content: space-between;
        position: absolute;
        z-index: 5;
        left: 50%;
        transform: translate(-50%, 0);
        top: 60%;
      }
    }
  }
}
